/*  =======
    css reset
    =======*/

* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0
    }

/*  ===============
    formatação geral
    ===============*/
    html {
        font-size: calc(10px + 1vw);
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color:#21243D;
    }

    html body a{
        text-decoration: none;
        color:#21243D;
    }

    main {
        margin: 0 20vw 0 20vw;
    }

/*  ===============
    formatação do topo da página
    ===============*/

    header {
        margin: 0 5vw 3vw 5vw;
    }
    header nav ul{
        display:flex;
        justify-content:right;
    }

    header nav ul li{
        margin: 1vw 10px 0 10px;
    }

    header nav ul li.atual a{
        color: #ff6464;
    }

/*  ===============
    formatação works
    ===============*/

    main.works h1{
        font-weight: normal; /*negrito da fonte*/
        margin: 0 0 0 0; /*espaçamento do título*/
    }

    main.works section {
        border-bottom: 1px solid #e0e0e0; /*borda das sections (bottom: apenas em baixo)*/
        padding: 3vw 0 3vw 0; /*espaçamento da section*/
    }

    main.works section:last-child {
        border: none; /*remover a última borda*/
    }

    main.works section p {
        margin: 2vw 0 2vw 0; /*espaçamento da borda*/
    }

    main.works section p span {
        color: white; /*cor da letra*/
        background-color: #ff6464; /*cor do fundo*/
        border-radius: 35px; /*borda redonda*/
        padding: 2px 5px 2px 5px; /*espaçamento da borda*/
        font-weight: bold; /*negrito*/
    }

/*  ===============
    formatação home page
    ===============*/

    section.banner {
        display: flex; /* deixar os elementos lado a lado*/
        margin: 6vw 0 3vw 0;
    }

    section.banner h1 {
        font-size: 2rem;
    }

    section.banner p {
        margin: 2vw 3vw 2vw 0;
        font-size: x-large;
    }

    section.banner button {
        background-color: #ff6464;
        color: white;
        font-size: 1rem;
        padding: 5px 10px 5px 10px;
        border-radius: 2px; /*formato da borda*/
    }

    section.posts {
        background: #edf7fa;
        padding: 2vw 5px 2vw 5px;    
    }

    section.posts h2 {
        font-weight: normal;
        margin: 0 0 2vw 0;
    }

    section.posts ul {
        display: flex;
    }
    
    section.posts ul li {
        background: white;
        padding: 25px 10px 15px 10px ;
        margin: 0 2vw 0 0;
    }

    section.posts ul li:last-child {
        margin: 0;
    }

    section.posts ul li p {
        margin: 1.5vw 0vw 1.5vw 0vw;
    }

    section.ft-works h2 {
        font-size: 2rem;
        font-weight:100;
        margin: 2.5vw 0 2.5vw 0;
    }

    section.ft-works > div {
        display: flex;

    }

    section.ft-works div {
        padding: 25px 10px 15px 10px ;
        margin: 0 2vw 0 0;
    }

    section.ft-works div h3 {
        padding: 1vw 0 15px 0;
        margin: 0 2vw 0 0;
        color: #21243D;
        font-weight: bold;
    } 

    main section p span {
        color: white; /*cor da letra*/
        background-color: #142850; /*cor do fundo*/
        border-radius: 35px; /*borda redonda*/
        padding: 2px 7px 2px 7px; /*espaçamento da borda*/
        font-weight: bold; /*negrito*/
        margin: 0 23px 0 0;
    }

    p.dashboard {
        padding: 1vw 0 15px 0;
        color: lightslategray;
    }

    p.illustration {
        padding: 1vw 0 15px 0;
        color: lightslategray;
    }

/*  ===============
    formatação de rodapé
    ===============*/

    footer {
        text-align: center; /*centraliza o rodapé*/
        padding: 0 0 2vw 0;
    }

    footer nav ul {
        display: flex; /*coloca os elementos um a lado do outro*/
        justify-content: center; /*centraliza os elementos*/
    }

    footer nav ul li {
        margin: 0 5px 5px 5px;
        font-size: 2rem;
    }

    footer nav ul li a span {
        color: dark; 
        padding: 10px ;
    }